# Ignore Campaigns
/local/campaigns/*
!/local/campaigns/.gitkeep

/global/encounters/*
!/global/encounters/.gitkeep

#Ignore images
/static/uploads/*
!/static/uploads/.gitkeep
#Ignore idea file
.idea/

#Ignore venv
.venv/

